{% extends 'base.html' %}

{% block body %}
<section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="mt-0 text-center">내 정보</h2>
          <hr class="divider my-4">
            <!-- fillout nav -->
            <ul class="nav nav-tabs mb-4">
              <li class="nav-item">
                <a class="nav-link active nav-mini" href="{% url 'board:fillout_school' %}">내신</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-mini" href="{% url 'board:fillout_record' %}">생활기록부</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-mini" href="{% url 'board:fillout_test' %}">모의고사</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-mini" href="{% url 'board:fillout_target' %}">목표 대학</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-mini" href="{% url 'board:fillout_question' %}">Q&A</a>
              </li>
            </ul>

            <h3>
                1. 내신
            </h3>
            <div class="mb-2">
                학기별 내신 등급을 소수점 둘째 자리에서 반올림해서 입력해주세요.
            </div>
            <div>
                (예: 1학년 1학기 4.33)      
            </div>
            <p>
                <form method="POST">
                    {% csrf_token %}
                    {{ schoolRecordForm.as_p }}
                    <button type="submit" class="btn btn-dark">저장</button>
                </form>
            </p>
        </div>
      </div>
    </div>
</section>
{% endblock %}