{% extends 'base.html' %}

{% block masthead %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">성적을 입력하고 피드백을 받으세요</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
          <!-- <p class="text-white font-weight-light">
              <b>컨설턴트 소개</b><br/>
          </p> -->
          <h5 class="text-white font-weight-light my-2">
              <b>컨설턴트 소개</b>    
          </h5>
          <h4 class="text-white font-weight-light my-3">
              <b>이승엽</b>    
          </h4>
          <p class="text-white font-weight-light mb-4">
              現 시대인재 입시R&D센터 컨텐츠 총괄<br/>
              現 로미오&물량공급 입시콘서트 연사<br/>
              現 시대인재 입시R&D센터 컨설턴트<br/>
              現 로물콘 입시팀 컨설턴트<br/>
              고려대학교 경영학과<br/>
          </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'board:fillout_school' %}">입력하기</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}